nav {
  position: absolute;
  top: 0;
  left: 0;
}

.col1 {
  background-color: #eaeaea;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.col2 {
  background-color: #adadad;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.accordion {
  margin-top: 10px;
}

.accordion-button {
  background-color: #efefef !important;
}
