nav {
  position: fixed;
  top: 0;
  left: 0;
}

.col1 {
  background-color: #eaeaea;
  border: 1px #444746 solid !important;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.col2 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.accordion {
  margin-top: 10px;
}
